@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Infomation-Film">

    <iframe width="560" height="315"  src="https://www.youtube.com/embed/Fva_W_AF0IM?si=-J5Wu2ni_W9HKfwJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    @* <video class="Trailer" controls>
        <source src="">
    </video> *@
    <div class="btnxemphim">
        <button type="button" class="btn btn-primary" asp-controller="" asp-action=""> Xem Phim</button>
        <button type="button" class="btn btn-primary" asp-controller="" asp-action="">Thêm yêu thích</button>
    </div>


    
</div>